nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
}

.container {
    padding: 40px;
}

.side-menu {
    background-color: #f8f9fd;
}